@model IEnumerable<Esercitazione_GestionePrestitiBiblioteca.Models.PrestitoViewModel>

@{
    ViewBag.Title = "StoricoPrestito";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br /><br /><br />


@Html.Partial("_SideBar")


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <br />
    <center><h4>Storico dei Prestiti</h4></center><br />
    <div class="table-responsive">

        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.CodiceLibro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titolo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DataPrestito)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataRestituzione)
                </th>


                <th>
                    Info Studente
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CodiceLibro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autore)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titolo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DataPrestito)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataRestituzione)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Cognome)
                    </td>



                </tr>
            }

        </table>
</main>
    </div>
</div>

